mixin experienceItem(experience)
    span.font-semibold= experience.position
    |
    | &mdash;
    | 
    a(href=experience.company.link)= experience.company.name
    | 
    span.italic= experience.location

mixin item(data, type)
    .flex.flex-col.justify-between.text-justify
        p
            case type 
                when "experience"
                    +experienceItem(data)
                when "education"
                    - break

        if data.description
            p.text-sm.ml-4= data.description

mixin section(type, data)
    .my-4
        h2.uppercase.font-semibold.text-lg.text-primary= type
        .content.flex.flex-col-reverse
            each value in data
                +item(value, type)