mixin experienceItem(experience)
    span.font-semibold= experience.position
    |
    | &mdash;
    | 
    a(href=experience.company.link)= experience.company.name
    | 
    span.italic= experience.location

mixin educationItem(education)
    span.font-semibold #{education.degree} in #{education.domain} 
    | 
    | &mdash;
    | 
    a(href=education.school.link)= education.school.name
    |  
    span.italic= education.location

mixin item(data, type)
    .flex.flex-col.justify-between.text-justify
        p
            case type 
                when "experience"
                    +experienceItem(data)
                when "education"
                    +educationItem(data)

        if  Array.isArray(data.description)
            ul.ml-4 
                each item in data.description 
                    li.text-sm= item

mixin section(type, data)
    .my-4
        h2.uppercase.font-semibold.text-lg.text-secondary= type
        .content.flex.flex-col-reverse
            each value in data
                +item(value, type)