mixin experienceItem(experience)
    span.font-semibold= experience.position
    |
    | &mdash;
    | 
    a(href=experience.company.link)= experience.company.name
    | 
    span.italic= experience.location

mixin educationItem(education)
    span.font-semibold #{education.degree} in #{education.domain} 
    | 
    | &mdash;
    | 
    a(href=education.school.link)= education.school.name
    |  
    span.italic= education.location



mixin item(data, type)
    .flex.flex-col.justify-between.text-justify.m-2
        p
            case type 
                when "experience"
                    +experienceItem(data)
                when "education"
                    +educationItem(data)

        if  Array.isArray(data.description)
            ul.ml-4.font-mono
                each item in data.description 
                    li.text-sm= item

mixin mainSection(data) 
    each value, key in data
        .my-4
            +title(2, key)
            .content.flex.flex-col-reverse
                each item in value
                    +item(item, key)

mixin miscSection(data)
    .flex.flex-wrap.justify-center
        each value, key in data
            .rounded-lg.m-4.p-4.w-60.shadow-md
                +title(2, key)
                ul.ml-8.font-mono.search-results
                    if Array.isArray(value)
                        each item in value
                            li.capitalize= item
                    else if typeof value === "object"
                        each item, key in value 
                            li.capitalize #{key}: #{item}
                    else 
                        li.capitalize= value